<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>


<body>
    <div class="chat">
        <div id="sidebar" class="chat__sidebar">

        </div>
        <div class="chat__main">

            <div id="messages" class="chat__messages">

            </div>
            <div class="compose">
                <form id="message-form">
                    <input placeholder="messages" id="message-input" name="message" type="text" required>
                    <button id="send-message">send</button>
                </form>
                <button id="send-location">Send location</button>
            </div>

        </div>
    </div>


    <script id="message-template" type="text/html">
        <div class="message">
            <p> 
                <span class="message__name">
                    {{ username }}
                </span>
                <span class="message__meta">{{ Date }}</span>
            </p>
            <p> {{ message }}</p>
           
        </div>
        
    </script>
    <script id="url-template" type="text/html">
        <div class="message">
            <p> 
                <span class="message__name">
                    {{ username }}
                </span>
                <span class="message__meta">{{ Date }}</span>
            </p>
    
            <p><a href="{{ url }}">My Location</a> </p>
        </div>
        
    </script>

    <script id="location-message-template" type="text/html">
        <div class="message">
            <p>
                <span class="message__name">Some User Name</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p><a href="{{url}}" target="_blank">My current location</a></p>
        </div>
    </script>



    <script id="sidebar-template" type="text/html">
        <h2 class="room-title">{{room}}</h2>
        <h3 class="list-title">Users</h3>
        <ul class="users">
            {{#users}}
                <li>{{username}}</li>
            {{/users}}
        </ul>
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>